
body{
    margin-top: 5%;
    font-family: sans-serif;
    background: white;
    background-size: cover;
    background-position: center;
    
    
    
}

.center-text h2{

    color: black;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2%;
    
    
}

.center-text span{
    color: rgb(4, 155, 4);
    
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 8rem;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22) ;
    transition: .5s;
}

.row{

    position: relative;
    transition: all .40s;

}

.row img{

    width: 100%;
    height: auto;
    transition: all .40s;
   

}

.row img:hover{

    transform: scale(.9);
}
.product-text h5{

    position: absolute;
    top: 13px;
    left: 13px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}

.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
}

.heart-icon:hover{

    color: crimson;
}

.ratting{

    color: black;
    font-size: 18px;
}

.checked{

    color: #ff9f43;
}

.price h4{

    color:#111 ;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 400;
}

.price p{

    color: #151515;
    font: 14px;
    font-weight: 600;

}